@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/font/Montserrat-Bold.otf') format('otf'), url('../font/Montserrat-Bold.woff') format('woff'), url('../font/droidkufi/Montserrat-Bold.woff2') format('woff2'), url('../font/droidkufi/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #444;
}

ul li {
    line-height: 2.2;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Monserat-Bold', sans-serif;
}

.flex-even {
    flex: 1;
}

.f-weight-300 {
    font-weight: 300;
}

.lh-1 {
    line-height: 1.2;
}

.lh-12 {
    line-height: 1.5;
}

.lh-2 {
    line-height: 1.8;
}


/* delay */

.delay-1 {
    animation-delay: 0.5s;
}

.logo {
    width: 220px;
}

.navbar {
    padding: 10px 0px;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
}

.main-menu {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
}

.php-list {
    padding-left: 0px;
}

.php-list li i.fas {
    color: #00b359;
    margin-right: 5px;
}

.list-group.php-list {
    border-radius: 0px;
}

.php-list .list-group-item {
    font-size: 16px;
    padding: 8px 15px;
    border-color: #eee;
}

.php-list .list-group-item.muted {
    background-color: #fafafa;
}

.composer .row div {
    height: 220px;
    position: relative;
}

.composer .row div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.composer .row div p {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    font-size: 18px;
    color: #666;
}

.services-container .flex-even h4 {
    margin-bottom: 0px;
    font-weight: 600;
}

.services-container .flex-even p {
    margin-top: 0px;
    font-size: 16px;
}

img.icon-service {
    width: 70px;
    margin-bottom: 25px;
}

.menu-item {
    /* padding-left: 10px;
    padding-right: 10px; */
}

.menu-item-link {
    font-size: 16px;
    font-weight: 600;
    color: #666;
}

.menu-item-link:hover {
    text-decoration: none;
    color: #007fde;
}

.menu-item-link .icon {
    width: 35px;
    height: 35px;
    background-image: url('../img/newspopup.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    display: block;
    float: left;
}

.top-bar a {
    font-size: 14px;
    font-weight: normal;
}

.top-bar a i {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.close-popup {
    cursor: pointer;
    color: #666;
}

h1.section-title {}

p.section-subtitle {
    color: #666;
    font-weight: 300;
    font-family: Monserat-Bold, 'Helvetica', sans-serif;
}

.card-header {
    background-color: transparent;
}

.has-border-top-bottom {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.has-border-bottom {
    border-bottom: 1px solid #eee;
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-color: #6c757d !important;
}

.btn-outline-primary {
    color: #333;
    border-color: #333;
}

.btn-outline-primary:hover {
    background-color: #008fee;
}

.btn-rounded {
    border-radius: 25px;
    border-width: 2px;
    font-weight: bold;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #008fee;
    border-color: #008fee;
}

.no-radius {
    border-radius: 0px;
}

.card-price {
    position: relative;
}

.card .card-body .price span.rp,
.card .card-body .price span.bln {
    color: #666;
}

.card-price.active>.card {
    border-color: #008fee;
}

.card-price.active>.card .card-header {
    border-bottom: 1px solid transparent;
}

.card-price.active>.card .card-header,
.card-price.active>.card .card-body .price {
    background-color: #008fee;
    color: #fff!important;
}

.card-price.active>.card .card-body .price .strikethrough {
    text-decoration-color: #fff!important;
}

.card-price.active>.card .card-body .price small.text-muted {
    color: #fff!important;
}

.card-price.active>.card .card-body .total-user {
    border-top-color: #007fde!important;
    border-bottom-color: #007fde!important;
    background-color: #007fde;
    color: #fff;
}

.card-price.active>.card .card-body .price span.bln,
.card-price.active>.card .card-body .price span.rp {
    color: #fff;
}

.discount-price {
    vertical-align: middle;
    font-size: 48px;
}

.discount-price span,
.card .card-body span.rp {
    font-size: 18px;
    vertical-align: top;
    position: relative;
    top: 10px;
    font-weight: normal;
}

.card .card-body span.bln {
    font-size: 18px;
    vertical-align: top;
    position: relative;
    top: 10px;
    font-weight: normal;
}

.card-body {
    padding: 0;
}

.btn-outline-primary.active:hover {
    background-color: #fff!important;
    border-color: #007fde!important;
    color: #007fde!important;
}

.small-line {
    width: 100px;
    height: 5px;
    background-color: #f1f1f1;
    display: block;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
}


/* Ribbon */

.ribbon {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #00b359;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 176px;
    padding: 10px 0;
    background-color: #00b359;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}


/* top left*/

.ribbon-top-left {
    top: -10px;
    left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon-top-left span {
    right: -15px;
    top: 22px;
    transform: rotate(-45deg);
}

.cta p {
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 600;
}

.cta2 p {
    font-size: 34px;
    color: #fff;
    font-family: 'Monserat-Bold', sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
    border-right: 1px solid #59aff5;
}

.btn-outline-secondary {
    color: #fff;
    border-color: #fff;
}

.btn-outline-secondary:hover {
    color: #44a1ec;
    background-color: #fff;
    border-color: #fff;
}

.footer,
.footer a {
    color: #b3b3b3;
}

.footer h5 {
    color: #828282;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer .copyright {
    font-size: 12px;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    list-style-type: none;
    line-height: 1.7;
}

.footer ul li a {
    color: #b3b3b3;
}

.footer ul li a:hover {
    color: #ccc;
    text-decoration: none;
}

.footer .footer-social {
    padding-top: 35px;
}

.footer .footer-social li {
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid #cbcbcb;
    color: #cbcbcb;
    font-size: 24px;
    border-radius: 25px;
    margin-left: 25px;
    position: relative;
}

.footer .footer-social li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subscribe {
    position: relative;
    margin-bottom: 10px;
}

.subscribe .form-control {
    height: 50px;
}

.subscribe input[type=text] {
    border: none;
    width: 100%;
    padding-right: 123px;
    border-radius: 25px;
}

.subscribe .input-group-prepend {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 9;
}

.subscribe .input-group-prepend .btn-primary {
    background-color: #00a2f3;
    border-color: #00a2f3;
}

.subscribe .input-group-prepend .btn-primary:hover {
    background-color: #2cb5fa;
    border-color: #2cb5fa;
}

.input-group.subscribe>.form-control:not(:last-child),
.input-group.subscribe>.custom-select:not(:last-child) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

p.subscribe-text-muted {
    color: #5e5e5e;
}

.rounded-o {
    border-radius: 25px!important;
}

.payment-section .container .flex-even {
    border-bottom: 1px solid #242424;
}

.php-list li {
    color: #666;
    list-style-type: none;
}

@media (min-width: 300px) {
    .f-size-38 {
        font-size: 32px;
    }
    .f-size-32 {
        font-size: 24px;
    }
    .f-size-28 {
        font-size: 20px;
    }
    .f-size-18 {
        font-size: 16px;
    }
    .f-size-16 {
        font-size: 14px;
    }
    .f-size-14 {
        font-size: 14px;
    }
    .f-size-12 {
        font-size: 12px;
    }
    .php-list li {
        font-size: 14px;
        line-height: 1.7;
    }
    .php-list.service li {
        font-size: 14px;
        line-height: 1.7;
    }
    .card-price .no-border-r {
        border-right-color: #eee;
    }
    .card-price .no-border-l {
        border-left-color: #eee;
    }
    .card-price .no-border-t {
        border-top-color: #eee;
    }
    .card-price .no-border-b {
        border-bottom-color: #eee;
    }
    .m-item-l-5 p {
        margin-left: 0%;
    }
    .cta2 p {
        text-align: center;
        font-size: 24px;
        margin-bottom: 15px;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .f-size-38 {
        font-size: 38px;
    }
    .f-size-32 {
        font-size: 32px;
    }
    .f-size-28 {
        font-size: 28px;
    }
    .f-size-18 {
        font-size: 18px;
    }
    .f-size-16 {
        font-size: 16px;
    }
    .f-size-14 {
        font-size: 14px;
    }
    .f-size-12 {
        font-size: 12px;
    }
    .php-list li {
        font-size: 18px;
        line-height: 1.8;
    }
    .php-list.service li {
        font-size: 16px;
        line-height: 2.2;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .f-size-38 {
        font-size: 38px;
    }
    .f-size-32 {
        font-size: 32px;
    }
    .f-size-28 {
        font-size: 28px;
    }
    .f-size-18 {
        font-size: 18px;
    }
    .f-size-16 {
        font-size: 16px;
    }
    .f-size-14 {
        font-size: 14px;
    }
    .f-size-12 {
        font-size: 12px;
    }
    .php-list li {
        font-size: 18px;
        line-height: 1.8;
    }
    .php-list.service li {
        font-size: 16px;
        line-height: 2.2;
    }
    .card-price .no-border-r {
        border-right-color: transparent;
    }
    .card-price .no-border-l {
        border-left-color: transparent;
    }
    .card-price .no-border-t {
        border-top-color: transparent;
    }
    .card-price .no-border-b {
        border-bottom-color: transparent;
    }
    .m-item-l-5 p {
        margin-left: 50%;
    }
    .cta2 p {
        text-align: left;
        font-size: 38px;
        margin-bottom: 0px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    /* use smaller one */
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* use smaller one */
}