<template>
<div class="container-fluid" style="background-color: #fff">
    <div class="row py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="py-t">
                        <p class="section-subtitle f-size-32 lh-1">Linux Hosting yang Stabil dengan Teknologi LVE</p>
                        <p class="section-subtitle f-size-16 lh-1-2">SuperMicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LVE CloudLinux</b> untuk stabilitas server Anda. Dilengkapi dengan <b>SSD</b> untuk kecepatan <b>MySQL</b> dan Caching. Apache load balancer berbasis LiteSpeed Technologies. <b>CageFS</b> security. <b>Raid-10</b> protection dan auto backup untuk keamanan website PHP Anda.</p>
                        <button type="button" class="btn btn-lg btn-rounded btn-outline-primary active mt-3">Pilih Hosting Anda</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="py-t">
                        <img src="img/image_support.png" class="img-fluid" alt="Image Support">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #f7f7f7">
        <div class="container">
            <div class="row py-4 cta">
                <div class="col">
                    <p>Bagikan jika Anda menyukai halaman ini.</p>
                </div>
                <div class="col">
                    <img src="img/social.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #00a2f3">
        <div class="container">
            <div class="row py-5 cta2">
                <div class="col-sm-12 col-md-10">
                    <p>Perlu <b>BANTUAN</b>? Hubungi Kami : <b>0274-5305505</b></p>
                </div>
                <div class="col-sm-12 col-md-2 text-center">
                    <button type="button" class="btn btn-lg btn-rounded btn-outline-secondary reverse mt-1">Live Chat</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    mounted() {
        console.log('Component mounted.')
    }
}
</script>
