<template>
<div class="container-fluid footer" style="background-color: #303030">
    <div class="row pt-5 pb-5">
        <div class="container d-flex flex-column flex-lg-row align-items-top">
            <div class="flex-even text-left">
                <h5>HUBUNGI KAMI</h5>
                <p>0274-5305505<br>Senin - Minggu<br>24 Jam Nonstop</p>
                <p>Jl. Selokan Mataram Monjali<br>Karangjati MT I/304<br>Sinduadi, Mlati, Sleman<br>Yogyakarta 55284</p>
            </div>
            <div class="flex-even text-left">
                <h5>LAYANAN</h5>
                <ul>
                    <li><a href="#">Domain</a></li>
                    <li><a href="#">Shared Hosting</a></li>
                    <li><a href="#">Cloud VPS Hosting</a></li>
                    <li><a href="#">Managed VPS Hosting</a></li>
                    <li><a href="#">Web Builder</a></li>
                    <li><a href="#">Keamanan SSL / HTTPS</a></li>
                    <li><a href="#">Jasa Pembuatan Website</a></li>
                    <li><a href="#">Program Afiliasi</a></li>
                </ul>
            </div>
            <div class="flex-even text-left">
                <h5>SERVICE HOSTING</h5>
                <ul>
                    <li><a href="#">Hosting Murah</a></li>
                    <li><a href="#">Hosting Indonesia</a></li>
                    <li><a href="#">Hosting Singapura SG</a></li>
                    <li><a href="#">Hosting PHP</a></li>
                    <li><a href="#">Hosting Wordpress</a></li>
                    <li><a href="#">Hosting Laravel</a></li>
                </ul>
            </div>
            <div class="flex-even text-left">
                <h5>TUTORIAL</h5>
                <ul>
                    <li><a href="#">Knowledgebase</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Cara Pembayaran</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="container d-flex flex-column flex-lg-row align-items-top">
            <div class="flex-even text-left">
                <h5>TENTANG KAMI</h5>
                <ul>
                    <li><a href="#">Tim Niagahoster</a></li>
                    <li><a href="#">Karir</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Penawaran &amp; Promo Spesial</a></li>
                    <li><a href="#">Kontak Kami</a></li>
                </ul>
            </div>
            <div class="flex-even text-left">
                <h5>KENAPA PILIH NIAGAHOSTER?</h5>
                <ul>
                    <li><a href="#">Support Terbaik</a></li>
                    <li><a href="#">Garansi Harga Termurah</a></li>
                    <li><a href="#">Domain Gratis Selamanya</a></li>
                    <li><a href="#">Datacenter Hosting Terbaik</a></li>
                    <li><a href="#">Review Pelanggan</a></li>
                </ul>
            </div>
            <div class="flex-even text-left">
                <h5>NEWSLETTER</h5>
                <div class="input-group subscribe">
                    <input type="text" class="form-control" placeholder="Email">
                    <div class="input-group-prepend">
                        <input type="submit" value="Berlangganan" class="btn btn-primary btn-sm rounded-o">
                    </div>
                </div>
                <p class="subscribe-text-muted">Dapatkan promo dan konten menarik<br>dari penyedia hosting terbaik Anda.</p>
            </div>
            <div class="flex-even text-left">
                <ul class="footer-social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row payment-section">
        <div class="container d-flex flex-column flex-lg-row align-items-top">
            <div class="flex-even pb-3 text-left">
                <h5>PEMBAYARAN</h5>
                <img src="img/payments.jpg" class="img-fluid" alt="">
                <p class="subscribe-text-muted mt-3">Aktivasi instant dengan e-Payment Hosting dan domain langsung aktif!</p>
            </div>
        </div>
    </div>
    <div class="row pb-3 pt-3 copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <p class="mb-1">Copyright &#169;2016 Niagahoster | Hoating powered by PHP7, CloudLinux, Cloudfalre, BitNinja and DC Biznet Technovillage Jakarta</p>
                    <p>Cloud VPS Murah Powered by Webuzo Softaculoud, Intel SSD and cloud computing technology</p>
                </div>
                <div class="col-sm-12 col-md-4 text-right">
                    <a href="#">Syarat dan Ketentuan</a>&nbsp;|&nbsp;<a href="#">Kebijakan Privasi</a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    mounted() {
        console.log('Component mounted.')
    }
}
</script>
