<template>
    <div class="container-fluid" style="background-color: #fff">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div id="popup" ref="popup" class="col-sm-12 col-md-6 top-bar d-flex justify-content-sm-center justify-content-lg-start align-items-top">
                        <div><a href="#" class="menu-item-link"><span class="icon"></span> Gratis Ebook 9 Cara Cerdas Menggunakan Domain</a>&nbsp;<span v-on:click="closeMe" class="close-popup">[x]</span></div>
                    </div>
                    <div v-bind:class="active" class="col-sm-12">
                        <div class="py-2 top-bar flex-even d-flex flex-row justify-content-sm-center justify-content-lg-end align-items-center">
                            <div class="px-2 text-center"><a href="#" class="menu-item-link"><i class="fas fa-phone-alt"></i>&nbsp;09735 735928</a></div>
                            <div class="px-2 text-center"><a href="#" class="menu-item-link"><i class="fas fa-comments"></i>&nbsp;Live Chat</a></div>
                            <div class="px-2 text-center"><a href="#" class="menu-item-link"><i class="fas fa-user-circle"></i>&nbsp;Member Area</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light main-menu">
            <div class="container">
                <a class="navbar-brand logo-wrapper" href="#">
                    <img src="img/logo.png" class="img-fluid logo" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hosting <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Domain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Server</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Website</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Afiliasi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Promo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pembayaran</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Review</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kontak</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                active: 'col-md-6'
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            closeMe() {
                $("#popup").remove();
                this.active = 'col-md-12'
            }
        }
    }
</script>
