<template>
<div class="container-fluid" style="background-color: #fff; border-bottom: 1px solid #eee">
    <div class="row">
        <div class="container pt-5 pb-3">
            <div class="row delay-1">
                <div class="col-sm-12 col-md-6">
                    <div class="py-3">
                        <h2 class="section-title mb-1 f-size-38 font-weight-bolder">PHP Hosting</h2>
                        <p class="section-subtitle f-size-32 lh-1">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</p>
                        <ul class="php-list">
                            <li><i class="fas fa-check-circle"></i> Solusi PHP untuk performa query yang cepat.</li>
                            <li><i class="fas fa-check-circle"></i> Konsumsi memory yang lebih rendah.</li>
                            <li><i class="fas fa-check-circle"></i> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</li>
                            <li><i class="fas fa-check-circle"></i> Fitur enkripsi IonCube dan Zend Guard Loaders</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="py-3">
                        <img src="img/banner-01.svg" class="img-fluid" alt="Banner PHP">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    mounted() {
        console.log('Component mounted.')
    }
}
</script>
