<template>
    <div class="container-fluid" style="background-color: #fff">
        <div class="row pb-5 pt-4">
            <div class="col text-center">
                <h1 class="section-title mt-5 mb-0 f-size-32 f-weight-300">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda</h1>
            </div>
        </div>
        <div class="row">
            <div class="container services-container">
                <div class="row">
                    <div class="col-6 col-md-3 text-left m-item-l-5">
                        <p>IcePHP</p>
                        <p>apc</p>
                        <p>apcu</p>
                        <p>apm</p>
                        <p>ares</p>
                        <p>bcmath</p>
                        <p>bcompiler</p>
                        <p>big_int</p>
                        <p>bitset</p>
                        <p>bloomy</p>
                        <p>bz2_filter</p>
                        <p>clamav</p>
                        <p>coint_acceptor</p>
                        <p>crack</p>
                        <p>dba</p>
                    </div>
                    <div class="col-6 col-md-3 text-left m-item-l-5">
                        <p>hhtp</p>
                        <p>huffman</p>
                        <p>idn</p>
                        <p>igbinary</p>
                        <p>imagick</p>
                        <p>imap</p>
                        <p>inclued</p>
                        <p>inotify</p>
                        <p>interbase</p>
                        <p>intl</p>
                        <p>ioncube_loader</p>
                        <p>ioncube_loader_4</p>
                        <p>jsmin</p>
                        <p>json</p>
                        <p>idap</p>
                    </div>
                    <div class="col-6 col-md-3 text-left m-item-l-5">
                        <p>nd_pdo_mysql</p>
                        <p>oauth</p>
                        <p>oci8</p>
                        <p>odbc</p>
                        <p>opcache</p>
                        <p>pdf</p>
                        <p>pdo</p>
                        <p>pdo_dblib</p>
                        <p>pdo_firebird</p>
                        <p>pdo_mysql</p>
                        <p>pdo_odbc</p>
                        <p>pdo_pgsql</p>
                        <p>pdo_sqlite</p>
                        <p>pgsql</p>
                        <p>phalcon</p>
                    </div>
                    <div class="col-6 col-md-3 text-left m-item-l-5">
                        <p>stats</p>
                        <p>stem</p>
                        <p>stomp</p>
                        <p>suhosin</p>
                        <p>sybase_ct</p>
                        <p>sysvmsg</p>
                        <p>sysvsem</p>
                        <p>sysvshm</p>
                        <p>tidy</p>
                        <p>timezonedb</p>
                        <p>trader</p>
                        <p>translit</p>
                        <p>uploadprogress</p>
                        <p>uri_template</p>
                        <p>uuid</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-5 pt-4">
            <div class="col text-center">
                <button type="button" class="btn btn-lg btn-rounded btn-outline-primary mt-3">Selengkapnya</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
