<template>
<div class="container-fluid" style="background-color: #fff">
    <div class="row pt-1 pb-5">
        <div class="container composer">
            <div class="row">
                <div class="col-sm-12 col-md-4 text-center">
                    <img src="img/hosting_zendguard.png" class="img-fluid img-top-50" alt="">
                    <p>PHP Zend Guard Loader</p>
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    <img src="img/hosting_composer.png" class="img-fluid" alt="">
                    <p>PHP Composer</p>
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    <img src="img/hosting_ioncube.png" class="img-fluid" alt="">
                    <p>PHP ionCube Loader</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container text-center">
            <h1 class="section-title mt-5 mb-0 f-size-32 font-weight-bolder">Paket Hosting Singapura yang Tepat</h1>
            <p class="section-subtitle f-size-28">Diskon 40% + Domain dan SSL Gratis untuk Anda</p>
        </div>
        <div class="container py-5 d-flex flex-column flex-lg-row">
            <div class="card-price flex-fill mb-3 text-center">
                <div class="card mb-4 box-shadow no-border-r">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bolder">{{ items[0].title }}</h4>
                    </div>
                    <div class="card-body pb-4">
                        <div class="price pt-3 pb-1">
                            <h5 class="pricing-card-title strikethrough"><small class="text-muted">Rp {{ items[0].normal_price }}</small></h5>
                            <h1 class="pricing-card-title"><span class="rp">Rp&nbsp;</span><span class="font-weight-bolder discount-price" v-html="priceStyler(items[0].discount_price)"></span><span class="bln">/ bln</span></h1>
                        </div>
                        <div class="total-user has-border-top-bottom py-2">
                            <span>{{ items[0].total_users }} Pengguna Terdaftar</span>
                        </div>
                        <ul class="list-unstyled mt-3 mb-4">
                            <div v-html="items[0].description"></div>
                        </ul>
                        <button type="button" class="btn btn-lg btn-rounded btn-outline-primary mt-3">Pilih Sekarang</button>
                    </div>
                </div>
            </div>
            <div class="card-price flex-fill mb-3 text-center">
                <div class="card mb-4 box-shadow no-border-r">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bolder">{{ items[1].title }}</h4>
                    </div>
                    <div class="card-body pb-4">
                        <div class="price pt-3 pb-1">
                            <h5 class="pricing-card-title strikethrough"><small class="text-muted">Rp {{ items[1].normal_price }}</small></h5>
                            <h1 class="pricing-card-title"><span class="rp">Rp&nbsp;</span><span class="font-weight-bolder discount-price" v-html="priceStyler(items[1].discount_price)"></span><span class="bln">/ bln</span></h1>
                        </div>
                        <div class="total-user has-border-top-bottom py-2">
                            <span>{{ items[1].total_users }} Pengguna Terdaftar</span>
                        </div>
                        <ul class="list-unstyled mt-3 mb-4">
                            <div v-html="items[1].description"></div>
                        </ul>
                        <button type="button" class="btn btn-lg btn-rounded btn-outline-primary mt-3">Pilih Sekarang</button>
                    </div>
                </div>
            </div>
            <div class="card-price active flex-fill mb-3 text-center">
                <div class="ribbon ribbon-top-left"><span>Best Seller!</span></div>
                <div class="card mb-4 box-shadow no-border-r">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bolder">{{ items[2].title }}</h4>
                    </div>
                    <div class="card-body pb-4">
                        <div class="price pt-3 pb-1">
                            <h5 class="pricing-card-title strikethrough"><small class="text-muted">Rp {{ items[2].normal_price }}</small></h5>
                            <h1 class="pricing-card-title"><span class="rp">Rp&nbsp;</span><span class="font-weight-bolder discount-price" v-html="priceStyler(items[2].discount_price)"></span><span class="bln">/ bln</span></h1>
                        </div>
                        <div class="total-user has-border-top-bottom py-2">
                            <span>{{ items[2].total_users }} Pengguna Terdaftar</span>
                        </div>
                        <ul class="list-unstyled mt-3 mb-4">
                            <div v-html="items[2].description"></div>
                        </ul>
                        <button type="button" class="btn btn-lg btn-rounded btn-outline-primary mt-3 active">Pilih Sekarang</button>
                    </div>
                </div>
            </div>
            <div class="card-price flex-fill mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bolder">{{ items[3].title }}</h4>
                    </div>
                    <div class="card-body pb-4">
                        <div class="price pt-3 pb-1">
                            <h5 class="pricing-card-title strikethrough"><small class="text-muted">Rp {{ items[3].normal_price }}</small></h5>
                            <h1 class="pricing-card-title"><span class="rp">Rp&nbsp;</span><span class="font-weight-bolder discount-price" v-html="priceStyler(items[3].discount_price)"></span><span class="bln">/ bln</span></h1>
                        </div>
                        <div class="total-user has-border-top-bottom py-2">
                            <span>{{ items[3].total_users }} Pengguna Terdaftar</span>
                        </div>
                        <ul class="list-unstyled mt-3 mb-4">
                            <div v-html="items[3].description"></div>
                        </ul>
                        <button type="button" class="btn btn-lg btn-rounded btn-outline-primary mt-3">Diskon 40%</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data: function () {
        return {
            items: []
        }
    },
    mounted() {
        console.log('Component Price mounted.')
        var self = this;
        $.getJSON("js/data.json", function (data) {
            self.items = data;
        });
    },
    methods: {
        priceStyler: function (price) {
            var numbers = price.toString().split('')
            var prettyPrice = ''
            for (var i = 0; i < numbers.length; i++) {
                if (i == 2) {
                    prettyPrice += '<span>.'
                }
                prettyPrice += numbers[i]
                if (i == numbers.length < 1) {
                    prettyPrice += '</span>'
                }
            }

            return prettyPrice;
        }
    }
}
</script>
