<template>
<div class="container-fluid" style="background-color: #fff">
    <div class="row">
        <div class="container text-center">
            <h1 class="section-title mt-3 mb-0 f-size-32 f-weight-300">Powerful dengan Limit PHP yang Lebih Besar</h1>
        </div>
    </div>
    <div class="row pt-5 pb-5">
        <div class="col-sm-12 col-md-3 offset-md-3">
            <ul class="list-group php-list">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> max execution time 300ms</li>
                <li class="list-group-item muted"><i class="fas fa-check-circle"></i> max execution time 300ms</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> php memory limit 1024 MB</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3">
            <ul class="list-group php-list">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> post max size 128 MB</li>
                <li class="list-group-item muted"><i class="fas fa-check-circle"></i> upload max filesize 128 MB</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> max input vars 2500</li>
            </ul>
        </div>
        <div class="col-sm-12 pt-5">
            <span class="small-line"></span>
        </div>
    </div>
    <div class="row">
        <div class="container text-center">
            <h1 class="section-title mt-3 mb-0 f-size-32 f-weight-300">Semua Paket Hosting Sudah Termasuk</h1>
        </div>
    </div>
    <div class="row pt-5 pb-4">
        <div class="container composer d-flex flex-column flex-lg-row align-items-center services-container">
            <div class="flex-even text-center">
                <img src="img/icon_coding.svg" class="img-fluid icon-service" alt="">
                <h4>PHP Semua Versi</h4>
                <p>PHP mulai dari versi 5.3 s/d PHP 7.<br>Ubah sesuka Anda!</p>
            </div>
            <div class="flex-even text-center">
                <img src="img/icon_MySQL.svg" class="img-fluid icon-service" alt="">
                <h4>MySQL Versi 5.6</h4>
                <p>Nikmasti MySQL versi terbaru, tercepat dan kaya fitur.</p>
            </div>
            <div class="flex-even text-center">
                <img src="img/icon_Cpanel.svg" class="img-fluid icon-service" alt="">
                <h4>Panel Hosting cPanel</h4>
                <p>Kelola website dengan panel canggih yang familiar di hati Anda.</p>
            </div>
        </div>
    </div>
    <div class="row pt-4 pb-5">
        <div class="container composer d-flex flex-column flex-lg-row align-items-center services-container">
            <div class="flex-even text-center">
                <img src="img/icon_garansi_uptime.svg" class="img-fluid icon-service" alt="">
                <h4>Garansi Uptime 99.9%</h4>
                <p>Data center yang mendukung kelangsungan<br>website Anda 24/7.</p>
            </div>
            <div class="flex-even text-center">
                <img src="img/icon_InnoDB.svg" class="img-fluid icon-service" alt="">
                <h4>Database InnoDB Unlimited</h4>
                <p>Jumlah dan ukuran database yang tumbuh<br>sesuai kebutuhan Anda.</p>
            </div>
            <div class="flex-even text-center">
                <img src="img/icon_MySQL_r.svg" class="img-fluid icon-service" alt="">
                <h4>Wildcard Remote MySQL</h4>
                <p>Mendukung s/d 25 max_user_connections dan 100 max_connections.</p>
            </div>
        </div>
    </div>
    <div class="row has-border-bottom">
        <div class="container">
            <div class="row pb-3">
                <div class="container text-center">
                    <h1 class="section-title mt-5 mb-0 f-size-32 f-weight-300">Mendukung Penuh Framework Laravel</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="py-t">
                        <p class="section-subtitle f-size-18 lh-2">Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda.</p>
                        <ul class="php-list service">
                            <li><i class="fas fa-check-circle"></i> Install Laravel <b>1 klik</b> dengan Softaculous Installer.</li>
                            <li><i class="fas fa-check-circle"></i> Mendukung ekstensi <b>PHP MCrypt, phar, mbstring, json,</b> dan <b>fileinfo</b>.</li>
                            <li><i class="fas fa-check-circle"></i> Tersedia <b>Composer</b> dan <b>SSH</b> untuk menginstall packages pilihan Anda.</li>
                        </ul>
                        <p class="text-muted f-size-12">NB: Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</p>
                        <button type="button" class="btn btn-lg btn-rounded btn-outline-primary active mt-3 mb-3">Pilih Hosting Anda</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="py-t">
                        <img src="img/laravel.svg" class="img-fluid" alt="Banner PHP">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    mounted() {
        console.log('Component mounted.')
    }
}
</script>
